<html>
<body>
    <form method="post">
        Name:
        <input name="name" />
        <br />
        Sound:
        <input name="sound" />
        <br />
        <button>Add Cat</button>
    </form>
</body>
</html>