<html>
<body>
    The cats are:
    <ul>
        <li>winnie</li>
        <li>molly</li>
		<li>dexter</li>
		<li>kali</li>
        <li>jessie</li>
		<li>murphy</li>
    </ul><br/>

	<img src="/images/murph.jpg"/>
</body>
</html>